<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
     </source>

    <php>
        <!-- live env (misol) -->
        <env name="KATM_BASE_URL" value='https://ucin.infokredit.uz/api'/>
        <env name="KATM_USERNAME"  value='mkbank'/>
        <env name="KATM_PASSWORD"  value="]bJ9i405#9GT5"/>
    </php>

</phpunit>
